<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="/custom.css">
	<title>yaaarrhhh</title>
</head>
 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
	<script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
	<script type="text/javascript" src="/js/model.js"></script>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    TRACTION.is 
                </li>
            	<script id="sections-nav" type="text/x-handlebars-template">
					{{#each sections}}
						<li><a href="#section-{{section_id}}"> {{section_title}} </a></li>
					{{/each}}
				</script>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div class="container-fluid" id="article-content">
            <script id="article-template" type="text/x-handlebars-template">
				<h1>
					{{article.subject}}
				</h1>
			</script>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row" id="section-content">
						<script id="resources-template" type="text/x-handlebars-template">
							{{#each resources}}
								<div class="col-md-4 resources">
									<h5>{{title}}</h2>
									<p>{{body}}</p>
								</div>
							{{/each}}
						</script>

                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

	<script>

	  ///////// VIEWS /////////

		var ArticleView = Backbone.View.extend({
		  	className: 'article',
		  	render: function(){
		  		var template = Handlebars.compile($("#article-template").html());
		  		var rendered = template({article: this.model.toJSON()});
		  		$(this.el).append(rendered);
		  		return this;
		  	}
		});

		var CategoryView = Backbone.View.extend({
			className: 'category',
			render: function(){
				var title = this.model.get('category_title');
				var newNode = $('<li class="sidebar-brand">' + title + '</li>');
				$(this.el).append(newNode);
				return this;
			}
		});

		var SectionView = Backbone.View.extend({
			className: 'section',
			render: function(){
				var title = this.model.get('section_title');
				var body = this.model.get('section_body');
				var newNode = $('<div class = "col-md-8" id = "section-' + this.model.get("section_id") + '"></a> <h3>' + title + '</h3><p>' + body + '</p></div>');
				$(this.el).append(newNode);
				return this;
			},
			renderEmptyResource: function(){
				var title = this.model.get('section_title');
				var body = this.model.get('section_body');
				var newNode = $('<div class = "col-md-12" id = "section-' + this.model.get("section_id") + '"></a> <h3>' + title + '</h3><p>' + body + '</p></div>');
				$(this.el).append(newNode);
				return this;
			}
		});

		var SectionsView = Backbone.View.extend({
		  	className: 'sections',
		  	renderNav: function(){
		  		var template = Handlebars.compile($('#sections-nav').html());
		  		var rendered = template({sections: this.collection.toJSON()});
		  		$(this.el).append(rendered);
		  		return this;
		  	}
		  	// ,
		  	// renderText: function() {
		  	// 	var template = Handlebars.compile($('#sections-template').html());
		  	// 	var rendered = template({sections: this.collection.toJSON()});
		  	// 	$(this.el).append(rendered);
		  	// 	return this;
		  	// }
		});

		var ResourcesView = Backbone.View.extend({
			className: 'resources',
			render: function(){
		  		var template = Handlebars.compile($('#resources-template').html());
		  		var rendered = template({resources: this.collection.toJSON()});
		  		$(this.el).append(rendered);
		  		return this;
		  	}
		});

		////DOC READY CODE //////////////

		$(document).ready(function() {
		  	var article_id = location["pathname"].replace("/article/", "");
		  	var article = new Article({id: article_id});
		  	var articleView = new ArticleView({model: article});

		    article.fetch({
		    	success: function() {
	    			//much success such code wow
	    			$('#article-content').append(articleView.render().el);

	   			// var categoryArray = article.get("categories");
					
					// for (var i = 0; i < categoryArray.length; i++){
					// 	var category = new Category({
					// 	  	category_id : categoryArray[i]["category_id"],
					// 		category_title: categoryArray[i]["category_title"],
					// 		sections: categoryArray[i]["sections"]
					// 	});

						// var categoryView = new CategoryView({model: category});
						// $('.sidebar-nav').append(categoryView.render().el);

						// var sectionArray = category.get("sections");

						var sectionArray = article.get("sections");
						var sectionCollection = new SectionCollection();

						for (var k = 0; k < sectionArray.length; k++){
							var section = new Section({
								section_id : sectionArray[k]["section_id"],
								created : sectionArray[k]["created"],
								section_title : sectionArray[k]["section_title"],
								section_body : sectionArray[k]["section_body"],
								owner_id : sectionArray[k]["owner_id"],
								resources : sectionArray[k]["resources"]
							});
							sectionCollection.add(section);

							var resourceArray = section.get("resources");
							var sectionView = new SectionView({model: section});

							if (resourceArray) {
							
								var resourceCollection = new ResourceCollection();

								for (var j = 0; j < resourceArray.length; j++){
									var resource = new Resource({
										title : resourceArray[j]["resource_title"],
										body : resourceArray[j]["resource_body"],
										user_name : resourceArray[j]["user_name"]
									});
									resourceCollection.add(resource);
								}

								var resourcesView = new ResourcesView({collection: resourceCollection});

								//chain appending section then resources
								$('#section-content').append(sectionView.render().el).append(resourcesView.render().el);

							}

							//section has no resources, use 12 col section
							else{
								$('#section-content').append(sectionView.renderEmptyResource().el);

							}

						}

						var sectionsView = new SectionsView({collection: sectionCollection});
						var sectionsNavView = new SectionsView({collection: sectionCollection});
			    		$('.sidebar-nav').append(sectionsNavView.renderNav().el);
			    		$('.sidebar-nav').append('<br>');
					
				}
			});
		});

	</script>
	</body>
</html>
