<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Collection</title>
</head>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
    <script type="text/javascript" src="/js/model.js"></script>

<body>
    <!-- TODO: Styles -->
    <!-- page content -->


    <div id ="page-content-wrapper">
        <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" id="collection-content">
                        
                        <!--#Start Handlebars tempalte-->
                        <script id="collection-template" type="text/x-handlebars-template">
                            <div>
                                {{#each collection}}
                                <li><a href="/article/1">{{subject}}</a></li>
                                {{/each}}
                            </div>

                            <div><h1><a href="../collections">BACK to Collctions</a></h1></div>
                        </script>
                        <!-- #End Handlebars Template -->
                        
                    </div>
                </div>
        </div>
    </div>
    <script>
    var CollectionView = Backbone.View.extend({
        className: 'collection',
        render: function() {
            var template = Handlebars.compile($('#collection-template').html());
            var rendered = template({collection: this.model.toJSON()});
            $(this.el).append(rendered);
            return this;
        }
    });

    $(document).ready(function() {
        
        //dynamically fetch by id from server
        
        var collection_id = location["pathname"].replace("/collections/", "");
        var  collection = new Collection({id: collection_id});
        

        collection.fetch({
            success: function() {

                var collectionView = new CollectionView({model: collection});

                $('#page-content-wrapper').append(collectionView.render().el);
            }
        });
    })
    </script>
</body>

</html>