<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Collections</title>
</head>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
    <script type="text/javascript" src="/js/model.js"></script>

<body>
    <div id="wrapper">
        <!-- Page Content -->
        <div class="col-lg-12" id="article-content">

                        <script id="CollectionCollection-template" type="text/x-handlebars-template">
                            <div>
                                {{#each collectionCollection}}
                                <div class="collection">
                                    {{title}}
                            </div>
                                {{/each}}
                            </div>
                        </script>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    <script>

        var CollectionCollectionView = Backbone.View.extend({
            className: 'collections',

            render: function() {
                var source = $("#CollectionCollection-template").html();
                var template = Handlebars.compile(source);

                var rendered = template({collectionCollection: this.collection.toJSON()});
                console.log("this is rendered: " + rendered);

                console.log("this.el= " + $(this.el));
                $(this.el).append(rendered);

                return this;
            }
        });

      // var collectionCollection = new CollectionCollection(
      //                   [{"title":"Engineering"},
      //                   {"title":"Growth"},
      //                   {"title":"Product Design"},
      //                   {"title":"Sales & Business Development"}]);
      
   

      $(document).ready(function() {
            
           var collectionCollection = new CollectionCollection();
           collectionCollection.fetch({
                success : function () {
                    var collectionCollectionView = new CollectionCollectionView({
                        collection: collectionCollection
                    });
                    console.log("below is the collectionCollectionView");
                    console.log(collectionCollectionView);
                    console.log("above is the collectionCollectionView^");
                    $('#wrapper').append(collectionCollectionView.render().el);
                    console.log("success at document.ready");
                }
           });
            // $('body').append(collectionCollectionView.render().el);
      });



    </script>

    </body>
</html>
