<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>User Profile</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

  <div class="container">
    <div class="page-header">
      <h1>Traction.io <small>Curated educational content for everyone</small></h1>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail" style="width: 220px; height: 220px;"}>
          <img src="https://avatars1.githubusercontent.com/u/1704069?v=3&s=460" alt="Troy's github avatar">
        </a>
      </div>
      <div class="userProfileInfo">
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Articles published:</h3>
      </div>
      <div class="panel-body">
        <div class="userArticleInfo">
        </div>
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Edits published:</h3>
      </div>
      <div class="panel-body">
        <div class="userSectionInfo">  
        </div>
      </div>
    </div>

    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Edits awaiting your approval:</h3>
      </div>
      <div class="panel-body">
        <div class="userPendingInfo">
        </div>
      </div>
    </div>
  </div>

  <!-- Handlebars template scripts -->

  <!-- Basic user info template -->
  <script id="user-profile-template" type="text/x-handlebars-template">
    <h1>{{user.name}} <br /><small>{{user.userName}}<br /> {{user.email}}</small></h1>
  </script>
  <!-- User articles template -->
  <script id="article-info-template" type="text/x-handlebars-template">
    {{#each articleCollection}}
      <p> {{created}} -  <b>{{subject}}</b></p>
    {{/each}}
  </script>

  <!-- Collection templates -->

  <!-- Edits published by user template -->
  <script id="section-info-template" type="text/x-handlebars-template">
    {{#each sectionCollection}}
      <p>{{created}} -  <b>{{title}}</b></p>
    {{/each}}
  </script>
  <!-- Edits awaiting user approval -->
  <script id="pending-info-template" type="text/x-handlebars-template">
    {{#each pendingCollection}}
      <p>Edit suggested by <b>{{user_name}}:</b> {{body}}</p>
    {{/each}}
  </script>

  <!-- external dependencies/scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
  <!-- Backbone stuff -->
  <script>

    //Define models

    //User

    var User = Backbone.Model.extend({
      defaults: {
        name: '',
        userName: '',
        email: ''
      },
      initialize: function (options) {
        this.userName = options.userName;
      },
      url: function(){
        return '/user/' + this.userName; 
    });

    //Article

    var Article = Backbone.Model.extend({
      defaults: {
        subject: '',
        created: ''
      }
    });

    //Section

    var Section = Backbone.Model.extend({
      defaults: {
        title: '',
        created: '',
        approved: ''
      }
    });

    //Pending (edits awaiting user aproval)

    var Pending = Backbone.Model.extend({
      defaults: {
        userName: '',
        owner_id: '',
        approved: false,
        body: ''
      }
    }); 

    //Define collections

    //Colleciton of articles (for 'Articles published' section)

    var ArticleCollection = Backbone.Collection.extend({
      model: Article,
      comparator: function(model) {
        return model.get('created');
      }
    });

    //Colleciton of sections (for 'Edits published' section

    var SectionCollection = Backbone.Collection.extend({
      model: Section,
      comparator: function(model) {
        return model.get('created');
      }
    });

    //Colleciton of pending edits (for 'Edits awaiting your approval' section

    var PendingCollection = Backbone.Collection.extend({
      model: Pending,
      comparator: function(model) {
        return model.get('userName');
      }
    });

    //Define views

    //Aritcle

    var ArticleView = Backbone.View.extend({
      className: 'article',
      initialize: function() {
        this.listenTo(this.collection, 'add change remove', this.render);
      },
      render: function() {
        this.$el.html('');
        var source = $("#article-info-template").html();
        var template = Handlebars.compile(source);
        var rendered = template({articleCollection: this.collection.toJSON()});
        this.$el.append(rendered);
        return this;
      }
    });

    //Section

    var SectionView = Backbone.View.extend({
      className: 'section',
      initialize: function() {
        this.listenTo(this.collection, 'add change remove', this.render);
      },
      render: function() {
        this.$el.html('');
        var source = $("#section-info-template").html();
        var template = Handlebars.compile(source);
        var rendered = template({sectionCollection: this.collection.toJSON()});
        this.$el.append(rendered);
        return this;
      }
    });

    //Pending

    var PendingView = Backbone.View.extend({
      className: 'pending',
      initialize: function() {
        this.listenTo(this.collection, 'add change remove', this.render);
      },
      render: function() {
        this.$el.html('');
        var source = $("#pending-info-template").html();
        var template = Handlebars.compile(source);
        var rendered = template({pendingCollection: this.collection.toJSON()});
        this.$el.append(rendered);
        return this;
      }
    });

    //User profile info (name, username, email)
    //TO-DO: img/avatar. Currently hardcoded to Troy's img for every user

    var UserView = Backbone.View.extend({
      className: "user",
      render: function() {
        this.$el.html('');
        var source = $("#user-profile-template").html();
        var template = Handlebars.compile(source);
        var rendered = template({user: this.model.toJSON()});
        this.$el.append(rendered);
        return this;
      }
    });

    //Once page loads: 

    $(document).ready(function() {
      
      //instantiate models

      var user_name = location["pathname"].replace("/user/", "");

      //User model 
      var user = new User({userName: user_name});


      //Fetch data from server

      user.fetch({
        headers: {'Content-Type' : 'application/json'},
        success: function() { 

          // define user view
          var userView = new UserView({model: user});
          $('.userProfileInfo').append(userView.render().$el);
          
          //create array of articles
          var articleArray = user.get("articleInfo");

            //instantiate article collection
          var articleCollection = new ArticleCollection();

          //Loop through array of articles, display each authored by this user
          for (var i = 0; i < articleArray.length; i++) {
            var article = new Article({
                created : articleArray[i]["created"],
                subject : articleArray[i]["subject"]
              })
            articleCollection.add(article);
          };

          // instantiate article view, user properties of articleCollection
          var articleView = new ArticleView({collection: articleCollection});

          //append to div in html
          $('.userArticleInfo').append(articleView.render().$el);

          //create array of sections
          var sectionArray = user.get("sectionInfo");

          ////instantiate section collection 
          var sectionCollection = new SectionCollection();
          
          //loop through section array and create new section model with data for each section
          for (var i = 0; i < sectionArray.length; i++) {
            var section = new Section({
              title : sectionArray[i]["title"],
              created : sectionArray[i]["created"],
              approved : sectionArray[i]["approved"]
            });
            sectionCollection.add(section);
          };

          //instantiate section view using section collection properties
          var sectionView = new SectionView({collection: sectionCollection});
          //append to div in html
          $('.userSectionInfo').append(sectionView.render().$el);

          //create array of edits awaiting user's approval (only if they're a mod: see user enpoint in server.js)
          var pendingArray = user.get("pendingInfo");

          //instantiate pending collection
          var pendingCollection = new PendingCollection();

          //loop through collection of edits (section versions) and instantiate  model for each
          for (var i = 0; i < pendingArray.length; i++) {
            var pending = new Pending({
              user_name: pendingArray[i]["user_name"],
              body: pendingArray[i]["body"], 
              role: pendingArray[i]["role"]
            });
            pendingCollection.add(pending);
          };

          //instantiate pending view
          var pendingView = new PendingView({collection: pendingCollection});

          //append to dom
          $('.userPendingInfo').append(pendingView.render().$el);
        }, 

        //handle error
        error: (function(e) { 
          console.log('error for document ready funtion ' + e);
        })
      });
    });
  </script>
</body>

</html>